@font-face {
    font-family: 'ScaryFont';
    src: url('public/font/OctoberCrow.ttf') format('truetype'); 
    font-weight: bold;
    font-style: normal;
}

html, body {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(black, #1a1a1a, black);
    opacity: 0.6;
    filter: blur(10px);
    animation: horrorMist 6s infinite alternate ease-in-out;
    z-index: 2;
}

@keyframes horrorMist {
    50% { transform: translateY(5%); opacity: 0.6; }
    100% { transform: translateY(0); opacity: 0.8; }
}

canvas {
    display: block; 
    width: 100vw; 
    height: 100vh;
}

h1 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(182, 180, 180);
    font-family: 'ScaryFont';
    letter-spacing: 5px;
    font-size: 3rem;
    z-index: 3;
    cursor: default;
}

.loginContainer {
    z-index: 999;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 20%;
    bottom: 40%;
}

#loginForm {
    display: none;
}

input {
    padding: 0.8rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    width: 13rem;
    background-color: rgba(35, 35, 35, 0.738);
    color: white;
}

input[type="submit"] {
    letter-spacing: 1px;
    margin-top: 2rem;
    align-self: center;
    width: 10rem;
    cursor: pointer;
    &:hover{
        background-color: rgb(104, 103, 103);
        color: black;
    }
}

label {
    margin-top: 1.5rem;
    color: rgb(182, 180, 180);
    font-family: 'ScaryFont';
    font-size: 1.5rem;
    padding: 10px;
    letter-spacing: 5px;
}

#graphContainer, #userInfo, #skillsGraphContainer {
    background-color: rgba(0, 0, 0, 0.542);
    position: absolute;
    display: none;
    border-radius: 0.5rem;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

#userInfo {
    color: white;
    transform: translateX(-9%);
    letter-spacing: 2px;
    width: 600px; 
    height: 200px;
    overflow: auto; 
}

#graphContainer {
    transform: translateX(-9%);
    width: 600px; 
    right: 0%;
    bottom: -36.5%; 
    height: 220px;
}

#skillsGraphContainer {
    transform: translateX(5%);
    /* transform: translate(54vw, 25vh); */
    /* left: 0%; */
}

.totalSpacing {
    height: 25rem;
    display: none;
    position: absolute;
    display: flex;
    /* flex-direction: row; */
}

.leftSpacing {
    display: flex;
    height: 0;
    /* justify-content: center; */
}
.rightSpacing {
    display: flex;
    justify-content: flex-end; 
}

.firstSec, .secondSec {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 1%;
}

.lines {
    display: flex;
    justify-content: center;
}

.image {
    position: fixed;
    bottom: 68%;
    left: 5%;
    z-index: 999;
    width: 0;
}

#exitBtn {
    display: none;
    position: absolute;
    top: 2%;
    letter-spacing: 2px;
    cursor: pointer;
    left: 1%;
    background-color: transparent;
    font-family: 'ScaryFont';
    color: red;
    border: none;
    font-size: 2rem;
}

#errorMessage {
    color: red;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#humanoid {
    position: fixed;
    display: none;
    opacity: 0.03;
    width: 6rem;
}

@media (min-height: 864px) {
    .image {
        left: 5%;
        bottom: 64%;
    }
    /* #userInfo {
        color: white;
        transform: translate(8.3%, 92.5%);
        letter-spacing: 2px;
    }
    
    #graphContainer {
        transform: translate(8%, 231%);
    }
    
    #skillsGraphContainer {
        transform: translate(131.9%, 40%);
    } */
    
}
@media (max-width: 768px) {
    .loginContainer {
        right: 10%;
    }
}