@font-face {
    font-family: 'ScaryFont';
    src: url('assets/font/OctoberCrow.ttf') format('truetype'); 
    font-weight: bold;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background-color: black;
}

canvas {
    display: block; 
    width: 100vw; 
    height: 100vh;
}

h1 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(182, 180, 180);
    font-family: 'ScaryFont';
    letter-spacing: 5px;
    font-size: 3rem;
    z-index: 1;
}

.loginContainer {
    z-index: 999;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 20%;
    bottom: 40%;
}

input {
    padding: 0.8rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    width: 13rem;
    background-color: rgba(35, 35, 35, 0.738);
    color: white;
}

input[type="submit"] {
    letter-spacing: 1px;
    margin-top: 2rem;
    align-self: center;
    width: 10rem;
    cursor: pointer;
    &:hover{
        background-color: rgb(104, 103, 103);
        color: black;
    }
}

label {
    margin-top: 1.5rem;
    color: rgb(182, 180, 180);
    font-family: 'ScaryFont';
    font-size: 1.5rem;
    padding: 10px;
    letter-spacing: 5px;
}

#graphContainer, #userInfo, #skillsGraphContainer {
    background-color: rgba(0, 0, 0, 0.29);
    position: absolute;
    border-radius: 0.5rem;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

#userInfo {
    color: white;
    transform: translate(10.9%, 78.5%);
    letter-spacing: 2px;
}

#graphContainer {
    transform: translate(10.4%, 197%);
}

#skillsGraphContainer {
    transform: translate(131.9%, 34%);
}

.firstSec, .secondSec {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 1%;
}

.lines {
    display: flex;
    justify-content: center;
}

.image {
    position: fixed;
    bottom: 69%;
    left: 12%;
    z-index: 999;
    width: 0;
}

#humanoid {
    position: fixed;
    display: none;
    opacity: 0.08;
    width: 6rem;
}

@media (min-height: 864px) {
    .image {
        display: none;
    }
    #userInfo {
        color: white;
        transform: translate(8.3%, 92.5%);
        letter-spacing: 2px;
    }
    
    #graphContainer {
        transform: translate(8%, 209%);
    }
    
    #skillsGraphContainer {
        transform: translate(131.9%, 40%);
    }
    
}
@media (max-width: 768px) {
    .loginContainer {
        right: 10%;
    }
}